@font-face {
  font-family: "BattlesbridgeDemoRegular";
  src: local("BattlesbridgeDemoRegular"),
    url("./assets/fonts/BattlesbridgeDemoRegular.ttf") format("truetype");
}

.font-face-nt {
  font-family: "BattlesbridgeDemoRegular";
}

.card-coin {
  height: 25rem;
}
